.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.about-section,
.skills-section,
.projects-section,
.contact-section {
  padding: 20px;
  margin: 20px 0;
}

.about-section {
  background-color: #f4f4f4;
}

.skills-section {
  background-color: #e2e2e2;
}

.projects-section {
  background-color: #d0d0d0;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-links a {
  margin: 0 10px;
  color: #282c34;
  font-size: 24px;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #61dafb;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact-section form div {
  margin-bottom: 15px;
}

.contact-section label {
  display: block;
  margin-bottom: 5px;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section button {
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #444;
}



.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}
